{% extends "base.html" %}

{% block content %}    
<div class="container p-4 my-2 border">
   
    <div class="row">
        <div class="col-md-3 p-3 text-black">
            <img src="{{ url_for('static', filename='profile_pic.svg') }}" alt="Profile Picture" class="border rounded" style="width: 50px;">
            <h2>{{ user.username }}</h2></div>
        </div>
    </div>
</div>   
    
</div>

<div class="container p-3 my-2 border">
    <div class="row border my-4">Recent Activity</div>
    {% for post in posts %}
    <div class="card mb-3">
        <div class="card-header">
            <strong>question asked on {{post.timestamp}}</strong>
        </div>
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('postDetails', post_id=post.id) }}">{{ post.title }}</a></h5>
            <p class="card-text">{{ post.body }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}